/* Top */
li {
	display: inline;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

body a {
	color: #000;
	font-size: 13px;
	text-decoration: none;
	opacity: 0.75;
}

a:hover {
	text-decoration: underline;
}

.top {
	position: absolute;
	top: 16px;
	width: 100%;
}

.nav-top-left {
	float: left;
	margin-left: 10px;
	margin-top: 7px;
	padding-left: 0px;
}

.nav-top-left a {
	padding-left: 15px;
}

.nav-top-right {
	float: right;
	margin-top: 7px;
	padding-left: 30px;
	padding-right: 30px;
}

.nav-top-right a {
	padding-left: 15px;
}

.sign-in a {
	border: 1px solid #4285f4;
	font-weight: bold;
	background: -moz-linear-gradient(top, #4387fd, #4683ea);
	color: white;
	padding: 6px 9px;
	text-decoration: none;
	margin-left: 15px;
}
/* ------------------- */

/* Center */
.logo {
	display: block;
	margin: 0 auto;
	padding-top: 109px;
}

.text {
	display: block;
	margin: 0 auto;
	width: 500px;
	height: 45px;
	border-style: solid;
	border-radius: 22.5px;
	border-color: #dfe1e5;
}

.search-icon {
	transform: translate(50%, 70%);
	padding-top: 0px;
}

.text input[type='text'] {
	display: block;
	font-size: 1em;
	height: 35px;
	width: 400px;
	transform: translate(10%, -54%);
	border-style: none;
}

.text:hover {
	box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.button {
	text-align: center;
	top: 20px;
}

button {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	color: #5f6368;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	height: 36px;
	cursor: pointer;
}

button:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	color: #222;
}
/* --------------------- */

/* Bottom */
.nav-bottom-left {
	float: left;
	margin-left: 10px;
	padding-left: 0px;
}

.nav-bottom-left a {
	padding-left: 27px;
}

.nav-bottom-right {
	float: right;
	padding-left: 30px;
	padding-right: 30px;
}

.nav-bottom-right a {
	padding-left: 27px;
}

.bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}
/* ----------------------- */
